@import '~/node_modules/bootstrap/scss/bootstrap.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    max-width: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

}

body{
    background-color: #171717;
}

header{
    height: 60px;
    background-color: black;
}

.btn{
    background-color: #D50F1F;
    color: white;
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 3px;


    &:hover{
        filter: saturate(200%);
        color:white;
    }
    
}

input{
    height: 25px;
    border-radius: 13px;
    padding: 3px 10px;
    background-color: lightgray;

}

input:focus {
    outline:none;
}

.card{
    border: none;
    border-radius: 10px;
}